<h1>Word Clouds</h1>
<table>
<% @clouds.each do |cloud| %>
    <tr>
        <td class="word"><%= link_to cloud.cloud, {:action=>"index", :controller=>"cloud", :cloud=> cloud.cloud} %></td>
    </tr>
<% end %>
</table>

